/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #334B75; /* Background color of the entire container */
/*} */

.container .charan {
  margin: 50px;
  margin-left: 50px;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container img {
  width: 100px; /* Adjust width as needed */
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;                                                                    
}

p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

button {
  background-color: #4CAF50; /* Button background color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049; /* Button hover color */
}
