.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
  }
  
  .product {
    background-color: #040303;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    width: 90%; /* Increase width to 90% */
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
  
  .product-info{
    margin-left: 30px;
    color: white;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .product img {
    width:500px;
  }
  
  .product .product-details {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .product .name {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
  }
  
  .product p {
    margin: 5px 0;
    color: #666;
  }
  
  .product .fueltype,
  .product .mileage,
  .product .capacity,
  .product .maxpower {
    font-size: 1em;
  }
  
  .product .rating {
    margin: 10px 0;
    font-size: 1.2em;
    color: #ffa500; /* Orange color for rating */
  }
  
  .product .buy-button {
    background-color: #28a745; /* Green button */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start;
    margin-top: auto;
  }
  
  
  
  .buttons button {
    border-radius: 20px; /* Adjust the value to change the roundness */
    padding: 10px 20px; /* Adjust padding as needed */
    margin: 20px; /* Adjust margin as needed */
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  .add {
    width: 100px; 
    background-color: #007bff; /* Example background color for Add to Cart button */
  }
  
  .buy {
    width: 120px; /* Adjust width as needed */
    background-color: #28a745; /* Example background color for Buy Now button */
  }
  
  /* Add margin-bottom to create space between each element */
  .rating,
  .price,
  .Fueltype,
  .Capacity,
  .Mileage,
  .Maxpower,
  .Fueltype {
      margin-bottom: 10px; /* Adjust the value as needed */
  }
  
  